<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Starter Kit Express</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/doubts">List of doubts</a></li>
      <li><a href="/doubts/create">New doubt</a></li>
    </ul>
    <%- body -%>
  </body>
</html>
