<h1>Contact</h1>

<br>
<br>
<br>
<br>

<div class="social">
  <a href="#" class="social__item">
    <img src="/images/mail.png" alt="Send Email">
  </a>
  <a href="#" class="social__item">
    <img src="/images/linkedin.png" alt="View LinkedIn profile">
  </a>
  <a href="#" class="social__item">
    <img src="/images/facebook.png" alt="View Facebook profile">
  </a>
  <a href="#" class="social__item">
    <img src="/images/instagram.png" alt="View Instagram profile">
  </a>
</div>
