<section class="visual" style="background-image: url('/images/background.jpg')">
  <div class="visual__content">
    <div class="visual__title">Starter Kit Express</div>
    <div class="visual__subtitle">Keep it simple</div>
  </div>
  <div class="visual__arrow"></div>
</section>

<section class="section-text">
  <h1 class="headline"><%= title %></h1>
  <p>Welcome to <%= title %></p>
</section>

<div style="height: 1000px">Hey</div>

<!-- TODO: This script should go in a template block, or similar  -->
<script type="text/javascript" src="/scripts/materials/organisms/menu.js"></script>
