<h1>Create Doubt</h1>

<form action="" method="post">
  <input type="text" name="title" placeholder="Title">
  <% if(errors && errors.title) {%>
    <div><%- errors.title %></div>
  <%}%>
  <br>
  <textarea name="description" rows="4" cols="80" placeholder="Description"></textarea>
  <% if(errors && errors.description) {%>
    <div><%- errors && errors.description %></div>
  <%}%>
  <br>
  <a href="/doubts">Cancel</a>
  <input type="submit" value="Create">
</form>
